{% extends 'base.html' %}

{% block title %}Видалення поста{% endblock %}

{% block content %}

<style>
    .post_table {
        width: 500px;
        margin: auto;
        text-align: center;
    }

    .post_table form {
        width: 100%;
        text-align: left;
    }

    .names {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .inputs {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .btn_submit {
        width: 100%;
        padding: 10px;
        background-color: silver;
        color: white;
        border: 3px solid #ddd;
        cursor: pointer;
    }

    .btn_submit:hover {
        background-color: #2980b9;
    }
</style>

<div class="post_table">
    <h1 class="names">Видалення поста</h1><hr><br>
    <p>Ви впевнені, що хочете видалити пост "{{ post.title }}"?</p>
    <form class="post_table" method="post" action="{{ url_for('post_bp.delete_post', id=post.id) }}">
        <button type="submit" class="btn_submit btn btn-danger">Так, видалити</button><br><br>
    </form>
    <strong><a href="{{ url_for('post_bp.view_post', id=post.id) }}">Скасувати</a></strong>
    <br>
    <br>
    <hr>
    <br>
</div>
{% endblock %}
