{% extends 'base.html' %}

{% block title %}Create Todo{% endblock %}

{% block content %}
    <style>
        .todo_create {
            width: 500px;
            margin: auto;
            text-align: center;
        }

        .todo_create form {
            width: 100%;
            text-align: left;
        }

        .form-label {
            display: block;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .form-check-input {
            margin-right: 5px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: silver;
            color: white;
            border: 3px solid #ddd;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            text-align: center;
        }

        .btn-primary:hover {
            background-color: #2980b9;
        }
    </style>

    <div class="todo_create">
        <h1>Додати нове Завдання</h1>
        <hr><br>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.todo_item.label(class="form-label") }}
            {{ form.todo_item(class="form-control") }} <br>

            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }} <br>

            {{ form.status.label(class="form-check-label") }}
            {{ form.status(class="form-check-input") }}<br><br>

            {{ form.submit(class="btn btn-primary") }}
        </form>
        <br>
        <hr>
        <br>
    </div>
{% endblock %}
