<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zamlynskyi Ivan{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div>
            <h2>Замлинський Іван</h2>
        </div>
         <nav class="main-navbar">
            {% include 'navigation.html' %}
        </nav>
    </header>

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages-list">
                    {% for category, message in messages %}
                        <li class="flash-message-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
