{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}

{% block content %}
<style>
    .center_block {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        background-color: #333;
        color: #fff;
    }

    .names {
        color: #2980b9;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: 30px auto;
        display: block;
        box-shadow: rgb(38, 57, 77) 0px 30px 30px -10px;
    }

    .inputs {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .btn_submit {
        width: 100%;
        padding: 10px;
        background-color: silver;
        color: white;
        border: 3px solid #ddd;
        cursor: pointer;
    }

    .btn_submit:hover {
        background-color: #2980b9;
    }
</style>

{% if current_user.is_authenticated %}
    <div class="center_block">
        <h1 class="names">Мій профіль</h1><hr><br>
        <img src="{{ url_for('static', filename='images/' + current_user.image_file) }}" alt="User Photo" class="profile-image">
        <p class="account_text">Ім'я користувача: {{ current_user.username }}</p>
        <p class="account_text">Пошта: {{ current_user.email }}</p>
        {% if current_user.about_me %}
            <h3 class="names">Про мене</h3>
            <p class="account_text">{{ current_user.about_me }}</p>
        {% endif %}
        <br><hr><br>

        <h2>Оновлення профілю</h2>
        <form method="post" action="{{ url_for('auth.account') }}" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                {{ form.picture.label }}
                {{ form.picture(class="inputs") }} <br>
                {{ form.username.label }}
                {{ form.username(class="inputs") }} <br>
                {{ form.email.label }}
                {{ form.email(class="inputs") }} <br>
                {{ form.about_me.label }}
                {{ form.about_me(class="inputs") }} <br>
                {{ form.submit(class="btn_submit") }}
        </form>
        <br><hr><br>
        {% if current_user.last_seen %}
            <p class="account_text">Останнє відвідування: {{ current_user.last_seen }}</p>
        {% endif %}
        <br><hr><br>
        <h2>Змінити пароль:</h2>
        <form method="post" action="/change_password">
            <input type="submit" class="btn_submit" value="Змінити">
        </form><br><hr><br>
    </div>
{% else %}
    <p>Доступ заборонено. Будь ласка, увійдіть в свій акаунт.</p>
{% endif %}
{% endblock %}
