{% extends 'base.html' %}

{% block title %}Відгуки{% endblock %}

{% block content %}
    <style>
        .feedback_table {
            width: 500px;
            margin: auto;
            text-align: center;
        }

        .feedback_table form {
            width: 100%;
            text-align: left;
        }

        .inputs {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        .btn_submit {
            width: 100%;
            padding: 10px;
            background-color: silver;
            color: white;
            border: 2px solid #ddd;
            cursor: pointer;
        }

        .btn_submit:hover {
            background-color: #2980b9;
        }

        .feedback_table th, .feedback_table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .feedback_table th {
            background-color: #1B1C1E;
        }

        .btn-link {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

        .btn-link:hover {
            color: #2980b9;
        }
    </style>

    <div class="feedback_table">
        <h1>Залиште свій відгук</h1> <hr>
        <form method="POST">
            {{ form.hidden_tag() }} <br>
            {{ form.name.label }} {{ form.name(class="inputs") }} <br>
            {{ form.email.label }} {{ form.email(class="inputs") }} <br>
            {{ form.message.label }} {{ form.message(class="inputs") }} <br>
            {{ form.submit(class="btn_submit") }}
        </form>
        <br>
        <hr>
        <br>
        <h2>Всі відгуки</h2>
        <ul>
            {% for feedback in feedbacks %}
                <li>
                    <strong>{{ feedback.name }}</strong> ({{ feedback.email }}): {{ feedback.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
