     {% extends 'base.html' %}

    {% block title %}Resume{% endblock %}

    {% block content %}
        <div class="container">
            <div class="wrapper">
              <h2>Резюме</h2>
                <p>Зважаючи на мій шлях у цій сфері, хотів би поділитися, що моє бажання вчитися та розвиватися привело до майстерності у JavaScript та Python. Маю певний досвід у роботі з PHP, C++ та Java. Крім того, під час навчання в університеті я здобув знання про використання Linux та написання скриптів на Bash. Також, я ознайомився з різними популярними фреймворками для розробки програм, одним з них є Flask для Python.</p>
            </div>
        </div>
          <table class="table_resume">
            <tr>
              <th>Компанія</th>
              <th>Досвід роботи</th>
              <th>Посада</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
          </table>
    {% endblock %}