body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1B1C1E;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #2980b9;
}

footer {
    background: #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    margin: 20px 0;
    text-align: center;
}

.list-group-item {
    background-color: #1B1C1E;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.btn {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    background-color: silver;
    color: black;
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
}

.btn:hover {
    background-color: #2980b9;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
    border: 5px solid #fff;
}

.table_resume {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

.table_resume th, .table_resume td {
    border: 1px solid #fff;
    padding: 15px;
}

/* styles for the portfolio page */
.main-content {
    text-align: center;
}

/* styles for the skills page */
.skills_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.skills_ul li {
    margin: 10px;
    font-size: 20px;
}

.h2_skills {
    text-align: center;
}

a {
    color: #2980b9;
}

a:hover {
    background-color: #fff;
}

.skills_table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.skills_table th,
.skills_table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

.skills_table thead {
    background-color: #1B1C1E;
    color: white;
}

.skills_table tbody {
    background-color: #000;
    color: white;
}

.skills_table tbody tr:nth-child(even) {
    background-color: #1B1C1E;
}

.skills_table a {
    color: #2980b9;
    text-decoration: none;
}

.skills_table a:hover {
    text-decoration: underline;
}